.hero-main {
    .hero-container {
        background: #d6cccc7d;
        input {
            width: 280px;
            height: 53px;
            background: #eaeaf34d;
            border: 1px solid #ffffff61;
        }
        button {
            width: 100px;
            height: 53px;
            border: none;
            background: #1b1b6380;
            color: white;
        }
    }
    .hero-list {
        background: #3a37376e;
        button {
            background: red;
            width: 100%;
        }
    }
}